<div style="width: 100%; height:100; display:flex; justify-content:center; align-items:center;">
    <div style="display: flex;flex-direction:column">
        <video [srcObject]="screenStream$|async" width="480" height="360px" autoplay playsinline appMuteVoice
            class="video-player"></video>
        <button (click)="shareScreen()">Share Screen</button>
        <button (click)="onRecordStartStop()">{{isRecording?"Stop Recording":"Start Recording"}}</button>

    </div>
    <div *ngIf="isRecorded&&!isRecording" style="display: flex; flex-direction: column;">
        <video class="video-player" #player id="player" loop width="480" height="360" [src]="recordedData" autoplay
            playsinline></video>
        <button (click)="playRecording()">Play Recording</button>
        <button (click)="download()">Download</button>
    </div>
</div>