<div style="display: flex;flex-direction:row;gap: 20px;">
    <div style="display: flex; flex-direction: column;">
        <video class="video-player" width="480" height="360" [srcObject]="localStream$|async" #video autoplay
            playsinline></video>
        <button (click)="onRecordStartStop()">{{isRecording?"Stop Recording":"Start Recording"}}</button>
    </div>

    <div *ngIf="isRecorded&&!isRecording" style="display: flex; flex-direction: column;">
        <video class="video-player" #player loop width="480" height="360" [src]="recordedData" autoplay
            playsinline></video>
        <button (click)="playRecording()">Play Recording</button>
        <button (click)="download()">Download</button>
    </div>
</div>